@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: var(--blackM);
  --greenM1: #22b455;
  --greenM2: #80ce87;
  --greenM3: #92e5a1;
  --greenM4: #204829;
  --blackM: #020209;
  --grayM: #3c444c;

  --orangred: #ff4500;
  --orange:  #fc5b23;
  --grey: #666;
  --lightgrey: #dddddd;
  --whiteZinc : #f4f4f5;
  --darkgrey: #2f2f2f;
  --darkgrey2: #181818;
  --black2: #080b0c;
  --red: #d6436e;
  --red2: #dc2626;
  --green2: #25da72;
  --green: #33cc66;
  --blue: #03172C;
  --blue2: #18395B;
  --cyan: #14ffec;
}


.darkMode {
  background: var(--blackM);
}
.lightMode {
  background: var(--whiteZinc);
}


/*
#main{
  min-height: 100vh;
}
*/
#main{
  min-width: 350px
}

.section{
  min-height: 100vh;
}

*{
	scrollbar-width: thin;
	scrollbar-color:  var(--greenM1) transparent ;
}

textarea.myText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--greenM1);
  opacity: 1; /* Firefox */
}

@media only screen and (max-width: 1100px) {
  .section{
    width: 80%;
  }
} 
@media only screen and (max-width: 450px) {
  .section{
    width: 95%;
  }
} 

/*Post*/
@media only screen and (max-width: 720px) {
  #action-responsive{
    display: block;
  }
  #action-responsive2{
    justify-content: start;
  }
} 
@media only screen and (max-width: 500px) {
  #post-responsive{
    display: block;
  }
  #post-responsive2{
    justify-content: space-between;
  }
} 
@media only screen and (max-width: 370px) {
  #action-responsive3{
    width: 1.5rem;
  }
} 

/*Header*/
@media only screen and (max-width: 380px) {
  #header-responsive1{
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
    min-height: 6rem;
  }
} 

/*PostPage*/
@media only screen and (max-width: 620px) {
  #postPage1{
    width: 5.5rem;
    height: 5.5rem;
    min-width: 5.5rem;
    min-height: 5.5rem;
  }
  #postPage2{
    display: block;
  }
  #postPage3{
    justify-content: space-between;
  }
} 